@charset "utf-8";

html {
	background: linear-gradient(#003300, black) no-repeat center center fixed;
	background-size: cover;
	font-family:verdana,sans-serif;
	color:#f2f2f2;
	margin: 0px;
	height: 100%;
	width: 100%;
}

body{
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

#titleDiv{
	border-style: solid;
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.25);
	background-size: cover;
	margin: auto;
}

#title{
	text-align:center;
	padding:0px;
	font-size: 35px;
}

#mainContent{
	float: left;
	margin: 0px;
	height: 100%;
	width: 100%;
}

#sideBarDiv{
	margin: auto;
	float: left;
	padding-top: 100px;
	padding-left: 0px;
	min-width: 280px;
	height:750px;
	background-color: rgba(153, 153, 153, 0.25);
	
}

	#radDiv{
		
		padding-left: 30px;
		
	}

		.radio{
			margin-bottom: 15px;
			margin-top: 15px;
			border: 0px;
		  	vertical-align: middle;
			height: 25px;
			width: 25px;
		}

		.radLbl{
			vertical-align: middle;
		    font-size: 25px;
		}

	#frmDiv{
		margin-top: 30px;
		vertical-align: middle;
		
	}


		#searchBox{
			float: left;
			border: 2px solid black;
			width: 200px;
			height: 32px;
			font-size: 14pt;
			padding:4px;
			vertical-align: middle;
		}

		#btnSubmit{
			
			/*margin-top: 30px;*/
			background-color: #003300;
			border: 2px solid black;
			font-size: 25pt;
			color: #f2f2f2;
			text-align: center;
			vertical-align: middle;
		}

	#autoComDiv{
		max-height: 500px;
		overflow-y: scroll;
	}
		#autoTblData{
			cursor: pointer;
			width: 100%;
		}

#rghtContent{
	
}

	#tblDiv{
		max-height: 500px;
		overflow-y: scroll;
	}

		#tblData{
			width: 100%;
			cursor: pointer;
		}

			th{
				height: 50px;
				border-bottom: 2px dotted black;
			}

			td{
				padding: 10px;
				border-left: 2px dotted black;
			}

.selected{
	background-color: #737373;
}

.autoSelected{
	background-color: #737373;
}


.inviso{
	display: none;
}

#plyDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 75%;
}

	.plybutton{
		border: 0;
		box-sizing: border-box;
		height: 74px;
		width: 0;
		border-color: transparent transparent transparent #009933;
		transition: 100ms all ease;	
		background-color: transparent;
		margin: 4px;
		padding: 0px;
		cursor: pointer;
		
		border-style: solid;
		border-width: 37px 0 37px 74px; 
	}

	.pausebutton{
		border: 0;
		box-sizing: border-box;
		height: 74px;
		width: 0;
		border-color: transparent transparent transparent #009933;
		transition: 100ms all ease;	
		background-color: transparent;
		margin: 4px;
		padding: 0px;
		cursor: pointer;
		
		border-style: double;
		border-width: 0px 0 0px 74px; 	
	}

